body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4e4ba;

}

.container{
min-height: 50vh;
width: 45vh;
margin-top: 20vmin;
background-color: #fff;
padding: 1rem;
justify-content: center;
border-radius: 1rem;
}

form{
margin: 2rem 0 2rem 0;
}

form input,select,button{
    width:100%;
    border-radius: 0.75rem;
}
form input{
border: 2px solid lightgray;
font-size: 1rem;
height: 2rem;
border-radius: 1rem;
padding-left:0.5rem;
align-items: center;
}

form select{
    display: flex;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown i{
    font-size: 2rem;
}

.msg{
    margin-top: 1rem;
    font-size: 1.5rem;
}

.convert{
    margin-top: 1rem;
    font-size: 1rem;
    background-color: crimson;
    height: 2rem;
}

.select-container img{
 max-width: 2rem;
 display: flex;
 justify-content: center;
}

.select-container{
    display: flex;
}
